node_modules/
__test__/
__tests__/
coverage/
.history/
.cache/
.husky/
.samples/
.vscode/
dist/
docs/
temp/
*.srl.ts
*.srl.md.ts
*.srl.md.d.ts
packages/shared/api/
.eslintrc.js
tsconfig.json
*.-test.tsx
embed/
src/lib/luckysheet-excel
src/modules/sheet/luckysheet-excel/
src/hook/use-request/__test__
static/
src/lib/tyshemo/
src/lib/ts-fns/