.inputTest {
  .header {
    color: red;
  }
}
// 颜色
.inputTestCss {
  & .header {
    color: purple; // 颜色
  }
}

// 颜色
:local {
  .inputTestCss {
    & .header {
      color: red; 
    }
  }

  .header {
    color: pink;
  }
}

.header {
  color: green;
}

:global {
  .header2 {
    color: #ccc;
  }
}

.header1 {
  color: red;
  //
}

.header3 {
  color: purple;
}